.page-header {
    display: flex;
    width: 100%;
    min-height: 65px;
    background: radial-gradient(circle farthest-corner at 100px 50px, #c8a1e7, #352A3B);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.logo {
    text-transform: uppercase;
    margin-left: 5%;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}
.btn-cart {
    margin-right: 5%;
    
}